/*IMPORTEM ELS TIPUS DE LLETRES QUE VOLEM*/
@font-face {
        font-family: 'Press Start 2P';
        src: url('fuente/PressStart2P-Regular.ttf') format('truetype');}


/*Head*/
header {
    display: flex;
    background-size: 26%;
    background-repeat: no-repeat;
    size:20%;
    justify-content: flex-start;    
    text-align: left; 
}


/*Menu y classe menu*/
.Menu{
    display: flex; /*utilitzem flex per centrar*/
    flex-direction: column; /*fem que els elements s'agrupin en mode columa vertical*/
    justify-content: center; /*centrem horitzontalment*/
    align-items: center; /*centrem verticalment*/
    height: 100vh;
    gap: 15px;
    margin-top: -100px;
    font: 'press start 2p';
    color:whitesmoke;   
}


/*TOTS ELS TITOLS EN H1*/
h1{
    font-size: 60px;
}


/*AFEGIR CANCONS*/
.song{
    color: whitesmoke;
    font-family: 'press start 2p';
    font-size: 25px;
    text-align: center;  
    background-color: rgba(0, 0, 0, 0.494);
    border: 0.1em solid pink;
    border-radius: 1em;
    width: 900px;
    padding-top: 1%;
    margin: 0 auto;
    margin-top: -20px;
}


/*Llista de AFEGIR CANCONS*/
.song_ul_li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
    margin-top: -10px;
}


.song_ul_li_titol{
    width: 28.5em;
    height: 2em;
    text-align: center;
}


.song_ul_li_artista{
    width: 28.5em;
    height: 2em;
    text-align: center;
}


.song_ul_li_descripcio{
    width: 28.5em;
    height: 4em;
    text-align: center;
}


/*Llista de cancons*/
.song_ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}


/*BOTÓ AFEGIR CANCÓ*/
.button_add_song{
    font-size: 30px;
    padding: 5px 70px;
    background-color: rgba(100, 104, 107, 0.904);
    color: whitesmoke;
    font-family: 'Press Start 2P';
    border-radius: 5px;
}


/*Llista de LLISTA DE CANCONS*/
.listsong_ul{
    background-color: rgba(0, 0, 0, 0.494);
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    border: 0.1em solid pink;
    border-radius: 1em;
    gap: 10px;
}


/*LOGO STEPMANIA DEL MENÚ PRINICIPAL*/
.logomenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    color: whitesmoke;
    font-family: 'press start 2p';
}


/*TOTS ELS BOTONS EN CLASSE BUTON*/
.button{
    font-size: 35px;
    padding: 7px 70px;
    background-color: rgba(100, 104, 107, 0.904);
    color: whitesmoke;
    font-family: 'Press Start 2P';
    align-items: center;
    border-radius: 5px;
}


/*BOTÓ HOME*/
.buttonhome{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='16' stroke-dashoffset='16' d='M5 21h14'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.2s' values='16;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='14' stroke-dashoffset='14' d='M5 21v-13M19 21v-13'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.2s' dur='0.2s' values='14;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='28' stroke-dashoffset='28' d='M2 10l10 -8l10 8'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.4s' dur='0.6s' values='28;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        
}


/*BOTÓ LLISTA*/
.buttonlist{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='72' stroke-dashoffset='72' d='M12 3h7v18h-14v-18h7Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='72;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' stroke-width='1' d='M14.5 3.5v3h-5v-3'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.7s' dur='0.2s' values='12;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='4' stroke-dashoffset='4' d='M9 10h3'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.9s' dur='0.2s' values='4;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='6' stroke-dashoffset='6' d='M9 13h5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='1.1s' dur='0.2s' values='6;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='8' stroke-dashoffset='8' d='M9 16h6'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='1.3s' dur='0.2s' values='8;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


/*BOTÓ PREGUNTA*/
.buttonedit{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='20' stroke-dashoffset='20' d='M3 21h18'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.2s' values='20;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='48' stroke-dashoffset='48' d='M7 17v-4l10 -10l4 4l-10 10h-4'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.2s' dur='0.6s' values='48;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='8' stroke-dashoffset='8' d='M14 6l4 4'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.8s' dur='0.2s' values='8;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


.buttonreturn{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='m13 8l-7 6l7 7'/%3E%3Cpath d='M6 14h22.994c6.883 0 12.728 5.62 12.996 12.5c.284 7.27-5.723 13.5-12.996 13.5H11.998'/%3E%3C/g%3E%3C/svg%3E");
}


.buttonadd{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-dasharray='16' stroke-dashoffset='16' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M5 12h14'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.4s' values='16;0'/%3E%3C/path%3E%3Cpath d='M12 5v14'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.4s' dur='0.4s' values='16;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


/*BOTÓ BORRAR*/
.buttondelete{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='64' stroke-dashoffset='64' d='M3 12c0 -4.97 4.03 -9 9 -9c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='64;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M7 12h10'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.6s' dur='0.2s' values='12;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


/*BOTÓ JUGAR*/
.buttonplay{
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-dasharray='40' stroke-dashoffset='40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 6l10 6l-10 6Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.5s' values='40;0'/%3E%3C/path%3E%3C/svg%3E");
}


.buttonedit_delete_play{
    flex-direction: row;
    gap: 4em;
    display: flex;
    margin-left: 110%;
    padding-top: 1em;
    width: 400px;
}


/*BOTONS HOME I RETURN*/
.Botonshomereturn{
    justify-content: right;
    flex-direction: row;
    display: flex;
}


/*BOTÓ HOME NOMÉS*/
.Botohome_classificacions{
    justify-content: right;
    flex-direction: row;
    display: flex;
}

/**/
.titolcancons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*TOTS ELS BOTONS*/
button{
    font-size: 35px;
    padding: 7px 70px;
    background-color: rgba(100, 104, 107, 0.904);
    color: whitesmoke;
    font-family: 'Press Start 2P';
    border-radius: 5px;
}


/*DEL BOTÓ JUGAR*/
.btn-jugar{
    padding: 7px 185px;
}


/*DEL BOTÓ CLASSIFICACIONS*/
.btn-classificacions{
    padding: 7px 10px;
}


/*DEL BOTÓ CANCONS*/
.btn-song{
    padding: 7px 150px;    
}


/*FONS DELS BOTONS*/
button:hover {
    background-color: rgba(100, 104, 107, 0.359);
    cursor: pointer;
}


/*BOTÓ DE JUGAR EN Cancons.php*/
.jugarcancons{
    padding: 7px 170px;
    position: absolute;
    justify-content: center;
    align-items: center;
}


/*NAV DE CANCONS*/
.titols_lista_pantalla_jugar{
    font-size: 17px;
    width: 20em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: whitesmoke;
    font-family: 'Press Start 2P';
    border-radius: 2px;
    text-align: left;
    flex-direction: row;
    display: flex;
    gap: 8em;
}


/*TITOL DE LES CANCONS*/
.cancons_pantalla_jugar{
    font-size: 20px;
    width: 20em;
    padding: 1em;
    color: whitesmoke;
    font-family: 'Press Start 2P';
    border-radius: 2px;
    text-align: left;   
    flex-direction: column;
    margin-left: 22%;
}


/*RECUADRE ON ESTAN LES CANCONS*/
.lista_pantalla_jugar{
    background-color: rgba(0, 0, 0, 0.494);
    border: 0.1em solid pink;
    border-radius: 1em;
    width: 80%;
    height: 28em;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid; 
    grid-template-columns: repeat(4, 13.6em); 
    margin-left: 9.6em;
}


/*CARATULA DE LES CANCONS*/
.caratula_canco_jugar{
    border-radius: 8px;
    width: 7.5em;
    height: 7.5em;
    border: 0.15em solid rgba(137, 43, 226, 0.378);
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
    display: flex;
    margin-top: 1em;

}


/*TAULA DE LA CLASSIFICACIO*/
.classificacions_taula_punts{
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Press Start 2P';
    display: flex;
    background-color: rgba(0, 0, 0, 0.494);
    border: 0.1em solid pink;
    border-radius: 1em;
    width: 50%;
    height: 25em;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto; /*el 0 es dels marges superior i inferior, i el auto de esquerra i dreta, es fa per centrar*/
    gap: 90px;
}


/*LINEA DE LA TAULA DE CLASSIFICACIO*/
.linea_classificacio{    
    position: absolute;
    left: 50%; /*centrar horitzontalment*/
    top: 57px; /*separacio de la part mes alta de la pagina per que comenci dins del cuadre*/
    bottom: 46px; /*separacio del fons de la pagina per que comenci dins del cuadre*/
    width: 2px; /*ample de la linea*/
    background-color: pink; /*color de la linea*/
    transform: translateX(-50%); /*ajustar el centre*/    
}


/*EL TITOL JUGADOR DE LA TAULA CLASSIFICACIO*/
.jugador_classificacio{
    margin-top: 1em;
    margin-left: 3.5em;
    text-decoration: underline;
}


/*EL TITOL PUNTUACIO DE LA TAULA CLASSIFICACIO*/
.puntuacio_classificacio{
    margin-top: 1em;
    margin-right: 3.5em;
    text-decoration: underline;

}


/*BODY*/
body{
    background-image: url("Img/Fondo_coche.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


/*FEM UN BOTÓ JUGAR EN Cancons.php*/
.btn-jugar-cancons{
    align-items: center;
}


/*LLISTA SONG*/
.song_list_ul{
    font-family: 'Press Start 2P';
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 0;
}


.bloc_dreta_artista,
.bloc_central_titol {
    padding-top: 1em; 
    box-sizing: border-box; 
    text-align: center; 
    font-size: 17px;
    color: whitesmoke;
    font-family: 'Press Start 2P';
    border-bottom: 0.1em solid pink;}


.bloc_dreta,
.bloc_central,
.bloc_esquerra {
    padding-top: 1em; 
    box-sizing: border-box; 
    text-align: center; 
}

.bloc_dreta_artista{
    width: 400px;
}

.bloc_esquerra {
    margin-left: 9.9em;
}

.bloc_dreta {
    margin-left: 4em;
}

.bloc_jugar{
    display: flex;
    gap: 1.3em;
    margin-top: 0.5em;
}


.bloccanco_jugar{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Press Start 2P';
    text-align: center;
    margin-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid pink;
}


.blocjugar_jugar{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Press Start 2P';
    margin-top: 1em;
    
}


.blocpuntuacio_jugar{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Press Start 2P';
    text-align: center;
    margin-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid pink;
}


.blocdreta_jugar{
    background-color: rgba(0, 0, 0, 0.494);
    border: 0.1em solid pink;
    border-radius: 1em;
    width: 23%;
    height: 40em;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    display: flex;
}

.bloccentre_jugar{
    background-color: rgba(0, 0, 0, 0.494);
    border: 0.1em solid pink;
    border-radius: 1em;
    width: 60%;
    height: 36.25em;
    justify-content: center;
    align-items: center;
}

.blocesquerra_jugar{
    background-color: rgba(0, 0, 0, 0.494);
    border: 0.1em solid pink;
    border-radius: 1em;
    width: 23%;
    height: 40em;
    display: flex; /* Cambiar a flex para centrar los elementos */
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center;
    gap: 1em;
}


.caratula_bloc_jugar{
    border-radius: 8px;
    width: 15em;
    height: 15em;
    border: 0.15em solid rgba(137, 43, 226, 0.378);
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.titol_bloccentral_jugar{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Press Start 2P';
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.artista_blocdreta_jugar{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Press Start 2P';
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.reproductor_blocdreta_jugar{
    width: 200px;
}



.progress-container {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.1s;
}


/* Para colocar la puntuación debajo del texto "Puntuació" */
.blocpuntuacio_jugar {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#points {
    font-size: 32px;
    margin-top: 10px;
}

/* Para hacer que la barra de progreso esté en la parte inferior del contenedor del centro */
.bloccentre_jugar {
    position: relative; /* Necesario para posicionar elementos dentro de este contenedor */
    padding-bottom: 60px; /* Deja espacio para la barra y el botón */
}

.progress-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.start-button {
    position: absolute;
    bottom: 40px; /* Ajuste para que el botón esté encima de la barra de progreso */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(100, 104, 107, 0.904);
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

/* Desaparece el botón cuando se hace clic */
.start-button.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Estilo para las flechas, oculta inicialmente */
/* Estilo para las imágenes de las flechas */
.square img {
    display: none;                  /* Cambiar a block para que se pueda centrar correctamente */
    width: 300px;                    /* Ajusta el tamaño según sea necesario */
    height: auto;                   /* Mantiene la proporción */
}

/* Contenedor de las flechas */
.square {
    display: flex;                   /* Habilita Flexbox */
    justify-content: center;         /* Centra horizontalmente */
    align-items: center;             /* Centra verticalmente */
    gap: 10px;                       /* Espacio entre las flechas, ajusta según necesites */
}

